<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.7/phpunit.xsd"
        bootstrap="./vendor/autoload.php"
        colors="true"
        verbose="true"
        backupGlobals="false"
>

    <testsuite name="CollectionPlus">
        <directory>./tests/CollectionPlus</directory>
        <exclude>./tests/misc</exclude>
    </testsuite>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>